@font-face {
  font-family: "karla";
  src: url("karla-bold-webfont.woff2") format("woff2"),
    url("karla-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "karla";
  src: url("karla-regular-webfont.woff2") format("woff2"),
    url("karla-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  font-family: "karla", Arial, sans-serif;
  color: #aaa;
  background-color: #161311;
  margin: 0;
  cursor: default;
}

h1,
h2,
h3 {
  color: #eee;
  font-weight: normal;
}

h1 {
  margin-bottom: 16px;
}

h2 {
  font-size: 1.2rem
}

h3 {
  font-size: 1rem;
  margin: .5rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 1rem 0;
}

header {
  text-align: center;
  padding-top: 8vh;
}

section {
  padding: 2rem 0;
}

li {
  list-style: "· ";
  line-height: 1.2;
}

footer {
  border-top: 1px solid #555;
  color: #777;
  padding: 1rem 0;
  font-size: .8rem;
}

.iconBar {
  background-color:inherit;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #333;
}

.iconBar a {
  transition: all 0.5s ease;
}

.iconBar a:hover img {
  filter: invert(0.7);
}

.icon1,
.icon2,
.icon3,
.icon4 {
  filter: invert(0.4);
  margin: 1rem;
  height: 25px;
  width: auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 540px;
  width: 95%;
}

.portrait {
  width: 90%;
  max-width: 250px;
  border-radius: 100%;
}

.details {
  line-height: 1.2;
}

.entry {
  margin: 2rem 0;
}

.entry-time-period {
  color: #777;
}

.entry-institution {
  margin: .5rem 0;
}

.h-faded {
  color: #aaa;
}

.heart {
  color: #e33;
}

.button {
  border: 1px solid #777;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
}

#workexamples h2  {
  margin-bottom: 2rem;
}

.button span {
  
}

@media (hover: hover) {
  a {
    transition: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  a:hover {
    color: #eee;
  }

  .button {
    transition: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .button:hover {
    background-color: #333;
  }
}

@media screen and (max-width: 700px) {
  .iconBar {
    display: none;
  }
  
}